* {
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: row;
}

img {
  width: 200px;
  height: 200px;
}

img:nth-of-type(2){
  border-left: 2px solid red;
  border-right: 2px solid red;
}

body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
