body, html {
  height: 100vh;
}

body {
  background: linear-gradient(45deg, rgb(125, 201, 200), rgb(240, 100, 30));
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  column-gap: 40px;
  text-align: center;
}

h1 {
  grid-area: 1 / 1 / 2 / 5;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.myContainer {
  grid-area: 2 / 2 / 3 / 5;
}

aside {
  grid-area: 2 / 2 / 4 / 5;
}

nav {
  grid-area: 4 / 2 / 6 / 5;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  grid-area: 6 / 1 / 7 / 5;
}

li {
  height: 60px;
  width: 200px;
  border: 2px solid white;
  list-style: none;
}

a {
  text-decoration: none;
}



section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

img {
  width: 225px;
  height: 225px;
  margin: 10px;
}

.picbuttoncontainer {
  display: flex;
  flex-direction: column;
}

footer {
  height: 50px;
  background-color: darkred;
}

img:first-of-type:hover {
  height: 200px;
  width:  200px;
  border: 3px solid red;
  transition: ease-in-out 0.25s;
}

img:nth-of-type(2):hover {
  height: 200px;
  width:  200px;
  border: 3px solid red;
  transition: ease-in-out 0.25s;
}

img:nth-of-type(3):hover {
  height: 200px;
  width:  200px;
  border: 3px solid red;
  transition: ease-in-out 0.25s;
 }