body,
html {
  height: 100vh;
  width: auto;
}

body {
  background: #369090;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
}


h1 {
  grid-area: 1 / 1 / 2 / 4;
}

ul {
  padding-left: 0;
  margin-left: 0;
  display: flex;
}
.nav {
  grid-area: 1 / 1 / 3 / 2;
}

.productChart {
  grid-area: 4 / 1 / 5 / 4; 
  width: 100px;
  height: 20px;
}

 main-container {
  grid-area: 2 / 2 / 4 / 4;
} 

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  height: 60px;
  width: 200px;
  list-style: none;
  margin: 5px;
  border: 1px solid transparent;
}

a:hover {
  color: #EDE700;
  transition: transform 0.2s ease-in-out;
  transform: scale(0);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #0F3446;
}

h1 {
  color: #0C1C29;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

img {
  width: 225px;
  height: 225px;
  margin: 10px;
}

img:first-of-type:hover {
  height: 170px;
  width: 170px;
  border: 3px solid red;
  cursor: pointer;
  transition: ease-in-out 0.25s;
}

img:nth-of-type(2):hover {
  height: 170px;
  width: 170px;
  border: 3px solid red;
  cursor: pointer;
  transition: ease-in-out 0.25s;
}

img:nth-of-type(3):hover {
  height: 170px;
  width: 170px;
  border: 3px solid red;
  cursor: pointer;
  transition: ease-in-out 0.25s;
}